//set parallax img
.parallax::before {
      
     
  background-image: url("images/RecordOnPlayerMock.jpg");
}
///Page specific block background sizing//
.GalWrapper {

  .Galblock {
    background-size: 100%;
    background-repeat: no-repeat;
  }
  .Galblock:hover {
    background-size: 110%;
  }


///BACKGROUND IMAGE SETTING FOR GAL///
  .Gal1 {
    background-image: url("images/FrontBack.jpg");
   
  }
  .Gal2 {
    background-image: url("images/OpenAndCoverMock.jpg");
    
  }
  .Gal3 {
    background-image: url("images/RecordOnPlayerMock.jpg");

    height: 40%;
  }
  .Gal4 {
    background-image: url("images/rolled\ up.jpg");

    background-position: center-bottom;
   
  }
  .Gal5 {
    background-image: url("images/front.jpg");
 background-size: 120%;
  }
  .Gal5:hover{
    background-size: 130%;
  }
  .Gal6 {
    background-image: url("images/inside.jpg");
    
  }

  .Gal7 {
    background-image: url("images/back.jpg");
  background-size: 140%;
  }
  .Gal7:hover{
    background-size: 150%;
  }

  .Gal8 {
    background-image: url("images/SBSpread1.jpg");
    
  }

  .Gal9 {
    background-image: url("images/SBSpread2.jpg");
  }
  .Gal12{
    background-image: url("images/SBSpread3.jpg");
  }

  .Gal10{
    background-image: url("/Posters/stylesheets/images/DivMock3.jpg");
  }
  .Gal11{
    background-image: url("/images/CSimages/Masida.jpg");
   
  }
     
}


