//set parallax img
.parallax::before {
      
     
  background-image: url("images/CoverDuo.jpg");
}
///Page specific block background sizing//
.GalWrapper {

  .Galblock {
    background-size: 100%;
  }
  .Galblock:hover {
    background-size: 110%;
  }


///BACKGROUND IMAGE SETTING FOR GAL///
  .Gal1 {
    background-image: url("images/YWCoverMock2.jpg");
   
  }
  .Gal2 {
    background-image: url("images/YWCoverMock1.jpg");
    
  }
  .Gal3 {
    background-image: url("images/YWSP1.jpg");
background-size: 130%;
    height: 40%;
  }
  .Gal3:hover{
    background-size: 140%;
  }
  .Gal4 {
    background-image: url("images/YWSP2.jpg");

    background-position: center-bottom;
   
  }
  .Gal5 {
    background-image: url("images/YWSP3Mock.jpg");
 
  }

  .Gal6 {
    background-image: url("images/SBCover1.jpg");

  }

  .Gal7 {
    background-image: url("images/SBCover2.jpg");
  
  }

  .Gal8 {
    background-image: url("images/SBSpread1.jpg");
  }

  .Gal9 {
    background-image: url("images/SBSpread2.jpg");
  }
  .Gal12{
    background-image: url("images/SBSpread3.jpg");
  }

  .Gal10{
    background-image: url("/Elephant/stylesheets/images/MMock1.jpg");
  }
  .Gal11{
    background-image: url("/WD-40/stylesheets/images/MagMock.jpg");
   
  }
     
}


